html {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: 0;
    padding: 10px;
    border: 0;
    font-family: Verdana;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.c_clear {
    clear: both;
}
#qrcontainer {
    width: 200px;
    height: 200px;
    background-color: #000;
}